<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="mt-2" th:insert="blocks/header :: header"></header>

    <div class="container mt-5">
        <div sec:authorize="isFullyAuthenticated()">
        <h3>Привет, <span sec:authentication="name"></span></h3>
        </div>

        <p>
            Я рад видеть тебя на платформе Kampot_Media.<br>
            Здесь ты можешь найти найти подкаст на любой вкус или просто послушать радио, пока занимаешься важными делами (или не очень).<br>
            Подкасты — это бесплатные цифровые аудиопередачи на любые темы.<br>
            Для того, чтобы прослушать подкаст, выбери интресующую тебя категорию и кликни по названию.<br>
            Приятного времяпрепровождения ♥.
        </p>
    </div>
    <footer th:replace="blocks/foooter :: footer"></footer>
</body>
</html>